<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <% if user_signed_in? %>
  <%= link_to "Create Blog Post", new_blog_post_path , class: "text-indigo-500 underline" %>
  <%= link_to "Profile", edit_user_registration_path , class: "text-indigo-500 underline"%>
    <%= button_to "Logout", destroy_user_session_path, method: :delete , class: "text-red-500 underline"%>
    <% else %>
    <%= link_to "Login", new_user_session_path ,  class: "text-indigo-500 underline"%>
    <%= link_to "Sign Up", new_user_registration_path , class: "text-indigo-500 underline"%>
  <% end %>
 
  <%= yield %>
  </body>
</html>
